/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ==========================My Styles============================================ */
body {
	font-size: 62.5%;
	box-sizing: border-box;
}
body > * {
	font-size: 1rem;
	padding: 0 2%;
}
/* =================================Header============================ */
/* ==============Nav================= */
.navName {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1%;
}
.navName > * {
	/* border: 1px solid black; */
}
#headerName {
	font-size: 2.5rem;
}
.navName nav {
	display: flex;
	justify-content: space-evenly;
	width: 40rem;
	font-size: 2rem;
}
.navName nav a {
	border: 1px solid black;
	width: 25%;
	text-align: center;
	text-decoration: none;
	transition: 0.7s;
	color: rgb(22, 31, 39);
	background-color: whitesmoke;
}
.navName nav a:hover {
	color: whitesmoke;
	background-color: rgb(22, 31, 39);
}
/* ==================Hero Container============== */
.heroContainer {
	/* border: 1px solid black; */
	text-align: center;
	font-size: 0.8rem;
}
.hero {
	background-color: rgb(75, 72, 72);
	border-radius: 10px;
	overflow: hidden;
}
.heroImg {
	width: 100%;
	height: 90vh;
	opacity: 0.6;
}
/* ==================Center Hero Container======== */
.heroImgText {
	/* border: 1px solid black; */
	position: absolute;
	top: 30%;
	left: 25%;
	font-size: 10rem;
	color: whitesmoke;
}
/* ================Hero Button==================== */
.btn {
	border: 1px solid black;
	border-radius: 15px;
	width: 15%;
	padding: 0 1%;
	font-size: 2.5rem;
	color: whitesmoke;
	text-decoration: none;
	background-color: rgba(22, 31, 39, 0.3);
	transition: 0.8s;
	box-shadow: -5px -5px 5px black, 5px 5px 5px black;
}
.btn:hover {
	color: rgb(22, 31, 39);
	background-color: whitesmoke;
	box-shadow: -5px 5px 5px black, 5px -5px 5px black;
}
/* ========================Info Section============================ */
.infoSection {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.infoSection span {
	font-size: 0.8rem;
}
.infoSection span a {
	color: black;
	text-decoration: none;
}
/* ======================My Projects Section================== */
.myProjects {
	/* border: 1px solid black; */
	margin: 1% 0;
	display: flex;
	justify-content: space-between;
}
.projectBox {
	border: 1px solid black;
	width: 30%;
	text-align: center;
	color: whitesmoke;
	background-color: rgba(22, 31, 39, 0.4);
}
.projectBox img {
	width: 100%;
}
.projectBox p {
	border-top: 1px solid black;
}

/* =====================About Me Section======================= */
.aboutMe {
	/* border: 1px solid black; */
	margin: 2% 0;
	display: flex;
	justify-content: space-between;
}
.aboutBox {
	border: 1px solid black;
	width: 30%;
	text-align: center;
	color: whitesmoke;
	background-color: rgba(22, 31, 39, 0.4);
}
.aboutBox img {
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.aboutBox p {
	border-top: 1px solid black;
}
/* ==============================Footer============================== */
footer {
	background-color: rgb(37, 37, 37);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
footer > * {
	margin: 1% 0;
}
.footerBtn {
	border: 1px solid whitesmoke;
	color: rgb(22, 31, 39);
	background-color: whitesmoke;
	transition: 0.6s;
	box-shadow: -5px -5px 5px white, 5px 5px 5px white;
}
.footerBtn:hover {
	color: whitesmoke;
	background-color: rgb(22, 31, 39);
	box-shadow: 5px -5px 5px white, -5px 5px 5px white;
}
footer h5 {
	color: whitesmoke;
}
